@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 25s linear infinite;
}

/* Hover karne par slider ruk jayega (Optional but good for UX) */
.animate-marquee:hover {
  animation-play-state: paused;
}

/* Slider ke dots ko humesha bottom par lock karne ke liye */
.swiper-pagination {
  bottom: 0px !important;
}

/* Purana wala bullet CSS waisa hi rahega */
.swiper-custom-bullet {
  width: 30px;
  height: 6px;
  background-color: #fca5a5;
  border-radius: 10px;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.swiper-custom-bullet-active {
  background-color: #EF4444;
  width: 40px;
}

.pt-20 {
    padding-top: calc(var(--spacing) * 20) !important;
  }
